html,
body {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 18px;
    background: #FFFCF8;
    background-image: radial-gradient(circle at 13% 47%, rgba(186, 165, 249, 0.06) 0%, rgba(186, 165, 249, 0.06) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(146, 241, 254, 0.14) 0%, rgba(146, 241, 254, 0.14) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(212, 209, 255, 0.11) 0%, rgba(212, 209, 255, 0.11) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(143, 247, 177, 0.06) 0%, rgba(143, 247, 177, 0.06) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(170, 214, 255, 0.08) 0%, rgba(170, 214, 255, 0.08) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(241, 143, 224, 0.05) 0%, rgba(241, 143, 224, 0.05) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(146, 180, 249, 0.1) 0%, rgba(146, 180, 249, 0.1) 6%, transparent 6%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    color: #1C1E1F;
    height: 100%;
    margin: 0px;

}
