@import url(https://fonts.googleapis.com/css?family=Pacifico);

.bottomLoader{
    font-family: Pacifico;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
    color: hotpink;
  }
  